.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.welcome-page {
  color: #fff;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}

.main-page {
  border: 10px solid rgb(26, 159, 196);
  padding: 25px;
  width: 100%;
}

.button {
  background-color: #f4511e;
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  opacity: 0.6;
  transition: 0.3s;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
}

.button:hover {opacity: 1}

.login-button {
  color: #20bf6b !important;
  text-transform: uppercase;
  background: #ffffff;
  padding: 20px;
  border: 4px solid #20bf6b !important;
  border-radius: 6px;
  display: inline-block;
  transition: all 0.3s ease 0s;  
}
 

.login {
  position: relative;
  background-color: #12ace4;
  border: none;
  font-size: 14px;
  color: #FFFFFF;
  padding: 20px;
  width: 200px;
  text-align: center;
  transition-duration: 0.4s;
  text-decoration: none;
  overflow: hidden;
  cursor: pointer;
}

.login:after {
  content: "";
  background: #f1f1f1;
  display: block;
  position: absolute;
  padding-top: 300%;
  padding-left: 350%;
  margin-left: -20px !important;
  margin-top: -120%;
  opacity: 0;
  transition: all 0.8s
}

.login:active:after {
  padding: 0;
  margin: 0;
  opacity: 1;
  transition: 0s
}

#calendar {
  border: 5px solid rgb(206, 45, 45); 
  padding: 25px;
  position: relative;
}

#overall-map {
  border: 8px solid rgb(140, 1, 87);
  height: 1000px;
  width: 100%;
  overflow: hidden;
  padding: 25px;
  position: relative;
}

#current-location {
  border: 8px solid rgb(140, 1, 87);
  padding: 25px;
}

#locations {
  margin: 10px; 
  border: 5px solid rgb(204, 41, 182);
  background: #0fbee6;
  height:500px; 
  float: bottom; 
  position: relative;
}

#map {
  border: 8px solid rgb(216, 40, 149);
  padding: 25px;
}