.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.welcome-page {
  color: #fff;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}

.main-page {
  border: 10px solid rgb(26, 159, 196);
  padding: 25px;
  width: 100%;
}

#calendar {
  border: 5px solid rgb(206, 45, 45); 
  padding: 25px;
  position: relative;
}

#overall-map {
  border: 8px solid rgb(140, 1, 87);
  height: 1000px;
  width: 100%;
  overflow: hidden;
  padding: 25px;
  position: relative;
}

#current-location {
  border: 8px solid rgb(140, 1, 87);
  padding: 25px;
}

#locations {
  margin: 10px; 
  border: 5px solid rgb(204, 41, 182);
  background: #0fbee6;
  height:500px; 
  float: bottom; 
  position: relative;
}

#map {
  border: 8px solid rgb(216, 40, 149);
  padding: 25px;
}